<header class="sticky top-0 inset-x-0 p-y-3 z-10 min-h-header bg-primary flex items-center py-2.5">
    <div class="container flex justify-between gap-4">
        <p class="text-xl font-bold m-0">EducationalSite</p>
        <nav x-data="{open: false}">
            <ul class="nav-list" :class="open ? 'nav-list--open' : 'nav-list--close'"
                x-data="{navItems: [{
                            title: 'Home',
                            path: '/',
                          },  {
                            title: 'Courses',
                            path: '/courses',
                          },  {
                            title: 'About Us',
                            path: '/about',
                          },  {
                            title: 'Contact Us',
                            path: '/contact',
                          },
                          ]}">
                <template x-for="navItem in navItems">
                    <li>
                        <a class="text-text hover:opacity-60 active:opacity-100" :href="navItem.path"
                           x-text="navItem.title"></a>
                    </li>
                </template>
            </ul>
            <button @click="open=!open"
                    class="nav-toggle-btn"
                    :class="open ? 'nav-toggle-btn--open' : 'nav-toggle-btn--close'"
            >
            </button>
        </nav>
    </div>
</header>
