<section
    class="hero-section-bg py-16 min-h-[500px] bg-imgBack text-white text-center bg-blend-soft-light bg-cover bg-center mb-6">
    <div class="container">
        <h1 class="text-5xl m-0 mb-6 font-bold tablet:text-7xl">IT Courses</h1>
        <p class="text-2xl m-0 mb-20 tablet:text-4xl">Online and workplace learning with RQF, endorsed and certified
            qualifications</p>
        <button x-data=""
                @click="location.href='/courses'"
                class="py-2.5 px-10 cursor-pointer text-text bg-primary border-0 rounded hover:scale-110 ease-out duration-300">
            Start NOW
        </button>
    </div>
</section>
